section {
	width: 44%;
	display: inline-block;
	vertical-align: top;
	padding: 300px;
	box-sizing: border-box;

}

.column-2 {
	background-color: red;
}

.column-1 {
	background-color: green;
}

footer {
	clear: both;
}