#contact-info {
	font-size: .8em;
}

section.job {
	background-color: #e9e5dc;
	padding: 18px;
	border-radius: 50px;
	margin-top: 25px;
}

.unordered-list {
	font-size: .8em;
}

ul li:nth-child(2) {
	color: green;
}

section:hover {
    background-color: blue;
}