.octopus {
	postion: relative;
}

#body {
	position: absolute;
	margin-top: 130px;
	margin-left: 500px;
}

#glasses {
	position: absolute;
	margin-top: 200px;
	margin-left: 500px;
}

#hat {
	position: absolute;
	margin-top: 5px;
	margin-left: 500px;
}